:root {
    --primary-dark-100: #f6f6f7;
    --primary-dark-200: #dcddde;
    --primary-dark-300: #b9bbbe;
    --primary-dark-400: #72767d;
    --primary-dark-500: #4f545c;
    --primary-dark-600: #36393f;
    --primary-dark-700: #202225;
    --brand-100: #f8f9fd;
    --primary-dark-800: #18191c;
    --primary-dark-900: #040405;
  
    --brand-200: #e3e7f8;
    --brand-300: #c7d0f0;
    --brand-400: #8ea1e1;
    --brand-500: #7289da;
    --brand-600: #4e5d94;
    --brand-700: #2e3757;
    --status-red-100: #fef6f6;
    --brand-800: #222941;
    --brand-900: #06070b;
  
    --status-red-200: #fcdada;
    --status-red-300: #f9b5b5;
    --status-red-400: #f36c6c;
    --status-red-500: #f04747;
    --status-red-600: #a33030;
    --status-red-700: #601c1c;
    --status-green-100: #f6fbf9;
    --status-red-800: #481515;
    --status-red-900: #0c0404;
  
    --status-green-200: #d9f0e6;
    --status-green-300: #b4e1cd;
    --status-green-400: #69c49a;
    --status-green-500: #43b581;
    --status-green-600: #2e7b58;
    --status-green-700: #1b4834;
    --status-grey-100: #f8f9f9;
    --status-green-800: #143627;
    --status-green-900: #030906;
  
    --status-grey-200: #e3e5e8;
    --status-grey-300: #c7ccd1;
    --status-grey-400: #9099a4;
    --status-grey-500: #747f8d;
    --status-grey-600: #4f5660;
    --status-grey-700: #2e3338;
    --white: #ffffff;
    --status-grey-800: #23262a;
    --status-grey-900: #060607;
  
    --black: #000000;
  }
  